body {
  background-color: #fff;
  font-size: 0.7rem;
  line-height: 0.8rem;
}

.mg {
  margin: 5px;
}
.my-5 {
  margin: 5px 0;
}
.my-10 {
  margin: 10px 0;
}

p {
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
}

tbody tr:first-child {
  font-weight: bold;
}

.products {
  color: blue;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.filters div {
  width: 33%;
  padding: 10px;
}

.filters label {
  display: block;
}

.filters button {
  display: block;
  margin-top: 25px;
}

#clear-btn {
  background-color: #fff;
  color: #bbbbbb;
  margin: 20px;
}

div#header h4 {
  float: left;
  display: block;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 0.8rem;
  }
}

#add-courier {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

tr.done {
  background-color: #ccffcc;
}
tr.empty {
  background-color: #fffacd;
}
tr.other {
  background-color: #ffe4e1;
}

.markers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.marker {
  width: 33%;
  padding: 10px;
}
.marker p {
  width: 80%;
  margin-left: 30px;
}

#time-wrapper {
  width: 20%;
  min-width: 250px;
}
#time-wrapper input {
  margin-bottom: 20px;
}

#archive-filters {
  width: 20%;
  min-width: 250px;
}

#archive-filters button,
#archive-filters input,
#archive-filters select {
  margin: 10px auto;
}
#archive-filters button {
  width: 250px;
}
#about button {
  cursor: pointer;
  border: 0;
  background: none;
  font-weight: bold;
}

.delete:hover {
  cursor: pointer;
  color: #ee6e73;
}

.courier:hover {
  background-color: #f8f8ff;
}

tbody#archive tr td:nth-child(11) {
  border-left: 2px solid rgba(0, 0, 0, 0.12);
}
tbody#archive tr td:nth-child(16) {
  width: 300px;
}

tbody#orders tr td:nth-child(10) {
  border-left: 2px solid rgba(0, 0, 0, 0.12);
}
tbody#orders tr td:nth-child(15) {
  width: 300px;
}

#login {
  width: 30%;
  margin: 60px auto;
}

#change-account-form {
  max-width: 300px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

#account-about {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#account-about div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#account-about div i {
  margin-top: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

@media (min-width: 993px) {
  nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
  }
  .wrapper {
    padding-top: 10.5rem !important;
  }
  nav.nav-extended {
    height: 10rem !important;
  }
}
